.example-spacer {
  flex: 1 1 auto; }

.logo {
  height: 40px;
  margin-left: 15px;
  margin-right: 15px; }

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidenavheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}
.sidenav {
  background-color: var(--primary);
  color: var(--accent);
}
.header {
  color: var(--accent);
}
