<mat-sidenav-container fullscreen>
  <mat-toolbar color="primary">
      <button *ngIf="isLoggedIn()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideNav()">
        <mat-icon color="accent">menu</mat-icon>
      </button>
      <img src="\assets\logo.svg" class="logo"/>
      <span class="header">The Budgeter</span>
      <span class="example-spacer"></span>
      <div class="header" *ngIf="isLoggedIn()">{{getUsername()}}</div>
      <button mat-button color="primary" *ngIf="isLoggedIn()" (click)="logout()">
        <mat-icon color="accent">exit_to_app</mat-icon>
      </button>
      <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>-->
  </mat-toolbar>

  <mat-sidenav #sidenav mode="side" class="sidenav" opened={{getSideNavStatus()}}>
    <div class="sidenavheader">
      <img src="\assets\logo.svg" class="logo"/>
      <span>The Budgeter</span>
    </div>
    <div class="button-container">
      <button mat-button color="accent" (click)="routeTo('dashboard')">Dashboard</button>
      <button mat-button disabled>Analysis</button>
      <button mat-button disabled>Accounts</button>
      <button mat-button disabled>Transactions</button>
      <button mat-button disabled>Projections</button>
      <button mat-button disabled>What-Ifs</button>
      <button mat-button color="accent" (click)="routeTo('admin')">Admin</button>
      <button mat-button color="primary" *ngIf="!isLight()" (click)="toggleTheme()">
        <mat-icon color="accent">wb_sunny</mat-icon>
      </button>
      <button mat-button color="primary" *ngIf="isLight()" (click)="toggleTheme()">
        <mat-icon color="accent">brightness_3</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>



