<app-section-header [headerText]="adminTitle"></app-section-header>
<mat-tab-group dynamicHeight>
  <mat-tab label="Update User">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="string" (keyup)="updateLocal('update','email',$event.target,element.userid)" value={{element.email}}>
            </mat-form-field> </td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput type="string" (change)="updateLocal('update','username',$event.target,element.userid)" min="1" value={{element.username}}>
            </mat-form-field>
          </td>
        </ng-container>


        <!-- Password Column -->
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> Password </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="string" (change)="updateLocal('update','password',$event.target,element.userid)" min="1" value={{element.password}}>
            </mat-form-field>
          </td>
        </ng-container>


        <!-- Permissions Column -->
        <ng-container matColumnDef="permissions">
          <th mat-header-cell *matHeaderCellDef> Permissions </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill">
              <mat-label>Permissions</mat-label>
              <mat-select value={{element.permissions}} (selectionChange)="updateLocal('update','permissions',$event,element.userid)">
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="moderator">Moderator</mat-option>
                <mat-option value="user">User</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Theme Column -->
        <ng-container matColumnDef="theme">
          <th mat-header-cell *matHeaderCellDef> Theme </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill">
              <mat-label>Theme</mat-label>
              <mat-select value={{element.lighttheme}} (selectionChange)="updateLocal('update','theme',$event,element.userid)">
                <mat-option value="true">Light</mat-option>
                <mat-option value="false">Dark</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element"> <mat-icon (click)="updateUser(element.userid)">save</mat-icon>
<mat-icon (click)="removeUser(element.userid)">delete</mat-icon> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!--<li *ngFor="let user of usersTable$ | async">
          <a routerLink="/detail/{{user.userid}}">
            <span class="badge">{{user.userid}}</span> {{user.email}}
          </a>
          <button class="delete" title="delete hero"
            (click)="delete(hero)">x</button>-->
        <!--</li>-->
      </table>
  </mat-tab>
  <mat-tab label="Add User">
    <mat-card class="example-card">
      <mat-card-title>Create User</mat-card-title>
      <mat-card-content>
        <mat-form-field class="createField" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="string" (keyup)="updateLocal('create','email',$event.target,-1)">
        </mat-form-field>
        <mat-form-field class="createField" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="string" (change)="updateLocal('create','username',$event.target,-1)" min="1">
        </mat-form-field>
        <mat-form-field class="createField" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="string" (change)="updateLocal('create','password',$event.target,-1)" min="1">
        </mat-form-field>
        <mat-form-field class="createField" appearance="fill">
          <mat-label>Permissions</mat-label>
          <mat-select (selectionChange)="updateLocal('create','permissions',$event,-1)">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">User</mat-option>
            <mat-option value="moderator">Moderator</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="createField" appearance="fill">
          <mat-label>Theme</mat-label>
          <mat-select value="false" (selectionChange)="updateLocal('create','theme',$event,-1)">
            <mat-option value="true">Light</mat-option>
            <mat-option value="false">Dark</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="createUser()">Create</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>
