.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}
table {
  width:100%;
}
th {
  min-width: 40px;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

td {
  min-width: 40px;
  padding-top: 18px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.createField {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.mat-card-title {
  margin-left:10px;
}
mat-icon {
  margin-right:30px;
}

