@import '~@angular/material/theming';
// Custom colors
$custom-colors: (
  custom-color-a: mat-color($mat-green, 500),
  custom-color-b: mat-color($mat-amber, 400),
);
$dark-colors: (
  primary: mat-color($mat-blue-grey, 500),
  accent: mat-color($mat-amber, 400),
  warn: mat-color($mat-deep-orange, 500)
);
