<div class="loginContainer">
  <mat-card>
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-subtitle>Welcome The Budgeter</mat-card-subtitle>
        <!-- Username Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell>
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput type="string" [formControl]="username">
            </mat-form-field> </td>
        </ng-container>
        <!-- Password Column -->
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> Password </th>
          <td mat-cell>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" [formControl]="password" (keyup.enter)="login()">
            </mat-form-field> </td>
        </ng-container>
        <mat-card-actions>
          <button mat-button (click)="login()">Login</button>
        </mat-card-actions>
    </mat-card>
</div>
