// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import 'variables';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define an dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the default theme styles.
@include angular-material-theme($dark-theme);

// Define the light theme.
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-amber, A200, A100, A400);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme:   mat-light-theme($light-primary, $light-accent, $light-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.light-theme {
  @include angular-material-theme($light-theme);
  $primary: mat-color($light-primary);
  $accent: mat-color($light-accent);
  $warn: mat-color($light-warn);
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
}
.dark-theme {
  $primary: mat-color($dark-primary);
  $accent: mat-color($dark-accent);
  $warn: mat-color($dark-warn);
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
}

